html, body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.node text {
  text-shadow: 1px 1px 5px #fff, 
  -1px -1px 5px #fff, 
  1px -1px 5px #fff, 
  -1px 1px 5px #fff, 
  1px 1px 5px #fff, 
  -1px -1px 5px #fff, 
  1px -1px 5px #fff, 
  -1px 1px 5px #fff, 
  1px 1px 5px #fff, 
  -1px -1px 5px #fff, 
  1px -1px 5px #fff, 
  -1px 1px 5px #fff;
  fill: #666666;
}

#chart svg {
  border: 2px solid #e9c5c5;
  border-radius: 4px;
}